{% extends 'layout.html' %}

{% block content %}
<div class="timeline">
    <div class="followings half">
        <h2>사용자 검색</h2>
        <form method="get" action="/user/search">
            <input type="text" name="searchText" value="{{searchText}}" />
            <button type="submit">검색</button>
        </form>
        <table style="border: 1px black solid; margin-top: 10px">
            <thead>
            <tr>
                <th width="10%">id</th>
                <th width="10%">userid</th>
                <th width="10%">nick</th>
                <th width="10%">provider</th>
                <th width="10%">snsId</th>
                <th width="10%">createdAt</th>
                <th width="10%">updatedAt</th>
                <th width="20%">차단</th>
            </tr>
            </thead>
            <tbody style="text-align: center">
            {% for user in users %}
            <tr>
                <td> {{user.id}} </td>
                <td> {{user.userid}} </td>
                <td> {{user.nick}} </td>
                <td> {{user.provider}} </td>
                <td> {{user.snsId}} </td>
                <td> {{user.createdAt}} </td>
                <td> {{user.updatedAt}} </td>
                <td>
                    <button onclick="banUser({{user.id}})">차단한다</button>
                </td>

            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<script type="text/javascript">
        function banUser(banid) {  //
      axios.post('/auth/ban/user', {
        banid: banid,
      })
      .then((res) => {
        if (res.status === 200) { // 서버 요청이 정상적으로 되었으면 페이지 새로고침한다.
          location.reload();
        } else { // 서버 요청이 정상 응답하지 않는다면 경고창을 띄운다.
          alert('차단처리 에러');
        }
      })
      .catch(error => {
        // 에러 발생시 에러 데이터를 가져온다.
        const errorData = error.response.data;
        // 에러 데이터에 메시지가 존재하면 메시지를 경고창에 출력하고 없으면 기본 메시지를 출력한다.
        if (errorData != null && errorData.message != null) {
          alert(errorData.message);
        } else {
          alert('신고처리 에러');
        }
      });
    }
</script>
{% endblock %}
